src/Bia/__pycache__
src/Bia/bits/__pycache__
src/Bia/Handle/__pycache__
src/Bia/Picture/__pycache__
src/Bia/Panel/__pycache__
src/Bia/Vision/__pycache__
src/Pages/__pycache__
src/Bia/Network/__pycache__
src/Bia/Network/lib/__pycache__